<p id="notice"><%= notice %></p>

<h1>Pregunta</h1>

<table>
  <thead>
    <tr>
      <th>Respuesta uno</th>
      <th>Peso uno</th>
      <th>Respuesta dos</th>
      <th>Peso dos</th>
      <th>Respuesta tres</th>
      <th>Peso tres</th>
      <th>Respuesta cuatro</th>
      <th>Peso cuatro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pregunta.each do |preguntum| %>
      <tr>
        <td><%= preguntum.respuesta_uno %></td>
        <td><%= preguntum.peso_uno %></td>
        <td><%= preguntum.respuesta_dos %></td>
        <td><%= preguntum.peso_dos %></td>
        <td><%= preguntum.respuesta_tres %></td>
        <td><%= preguntum.peso_tres %></td>
        <td><%= preguntum.respuesta_cuatro %></td>
        <td><%= preguntum.peso_cuatro %></td>
        <td><%= link_to 'Show', preguntum %></td>
        <td><%= link_to 'Edit', edit_preguntum_path(preguntum) %></td>
        <td><%= link_to 'Destroy', preguntum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Preguntum', new_preguntum_path %>
