<p id="notice"><%= notice %></p>

<p>
  <strong>Respuesta uno:</strong>
  <%= @preguntum.respuesta_uno %>
</p>

<p>
  <strong>Peso uno:</strong>
  <%= @preguntum.peso_uno %>
</p>

<p>
  <strong>Respuesta dos:</strong>
  <%= @preguntum.respuesta_dos %>
</p>

<p>
  <strong>Peso dos:</strong>
  <%= @preguntum.peso_dos %>
</p>

<p>
  <strong>Respuesta tres:</strong>
  <%= @preguntum.respuesta_tres %>
</p>

<p>
  <strong>Peso tres:</strong>
  <%= @preguntum.peso_tres %>
</p>

<p>
  <strong>Respuesta cuatro:</strong>
  <%= @preguntum.respuesta_cuatro %>
</p>

<p>
  <strong>Peso cuatro:</strong>
  <%= @preguntum.peso_cuatro %>
</p>

<%= link_to 'Edit', edit_preguntum_path(@preguntum) %> |
<%= link_to 'Back', pregunta_path %>
